@import '../../app/_ui/theme/_var.scss';

.common_heading {
    h2 {
        color: $textdarkclr;
        margin-bottom: 2rem;

        @media (max-width: 575px) {
            font-size: 1.8rem;
            line-height: 2.7rem;
        }
    }

    p {
        color: $textclr;
        font-size: 1.8rem;
        line-height: 2.7rem;
        font-weight: 400;

        @media (max-width: 1440px) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }

        @media (max-width: 767px) {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }
}